

<div class="nav-bar">
  <%- include('../partials/header') %>
</div>

<div class="container">

<div class="row">
  <div class="col-md-5 "><i></i>
  <div class="left">
    <div class="col-md-10">
      <div class="full-name">
        <i></i>
        <div class="col-md-4">
          <div class="left-name">
          <img  src="img/hqdefault.jpg" id="img">
          <h4>Messages:</h4>
          <h2><%= tweets.length %></h2>
          </div>
        </div>
        <div class="col-md-8">
          <div class="right-name">
          <h1>Full name</h1>
          <p>@username</p>
          </div>
        </div>
      </div>
      <div class="trending">
        <h3>Trending Awe tweets</h3>
        <div class="tweets">
        <p>#Things</p>
        <p>#WinterIsHer</p>
        <p>#TrumpIsAlumo</p>
        <p>#BetterGetThatCheckedUSA</p>
        <p>#Node8inApril</p>
        <p>#EllenGaveEverybodyAThing</p>
        </div>
      </div>
    </div>
</div>
</div>

<div class="col-md-7"><i></i>
  <div class="right">

      <main class="container-fluid">
        <div class="tweet">
          <form method="post" action="/">
          <h3 for="names">Name:</h3>
          <input class=names id="names" name="names" />
          <h3 for="message">Message</h3>
          <textarea class=message id="message" name="message" maxlength="255"/>
          <%= faker.lorem.paragraphs(1) %>
          </textarea>
          <br>
          <input class="buton" type="submit" name="submit"/>
          </form>
        </div>

        <div class="col-md-12">
          <div class="panel-message">
            <% for (i = tweets.length -1 ; i >= 0; i--){ %>
            <div class="message-t">
              <div class="col-md-2">
              <img  src="img/hqdefault.jpg" id="img">
              </div>
              <div class="col-md-10">
                <h4><%= tweets[i].names %> </h4>
                <p><%= tweets[i].message %></p>
              </div>
            </div>
            <% }%>
          </div>
        </div>
      </main>
  </div>
</div>
</div>
</div>
<%- include('../partials/footer') %>
